[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
