# [submodule "external/eigen"]
# 	path = external/eigen
# 	url = https://gitlab.com/libeigen/eigen.git
# [submodule "external/googletest"]
# 	path = external/googletest
# 	url = https://github.com/google/googletest.git
# [submodule "external/doxygen-awesome"]
# 	path = external/doxygen-awesome
# 	url = https://github.com/jothepro/doxygen-awesome-css.git
# [submodule "external/eigen"]
# 	path = external/eigen
# 	url = https://gitlab.com/libeigen/eigen.git
# [submodule "external/googletest"]
# 	path = external/googletest
# 	url = https://github.com/google/googletest.git
# [submodule "external/doxygen-awesome"]
# 	path = external/doxygen-awesome
# 	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/doxygen-awesome"]
	path = external/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
